*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  width:100%;
  height:100%;
  font-size: 60%;
  font-family: "urbanist";
}

p,li,input{
  font-size: 1.5rem;
  letter-spacing: 0.14rem;
}

::placeholder{
  font-family: "urbanist";
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
}

button, h1{
font-family: "urbanist";
}

.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
  background-color: #2d3436;
  background-image: linear-gradient(310deg, #2d3436 0%, #000000 74%);
}

.todo-app{
  width:100%;
  max-width:50rem;
  margin:10rem auto 2rem;
  padding:4rem 3rem;
  border-radius:1rem;
  background:linear-gradient(to right, #ece9e6,#ffffff);
  box-shadow: rgba(255,255,255,0.2) 0rem 0.2rem 1rem;
}

.todo-app h1{
  color:#16032a;
  display:flex;
  align-items: center;
  margin-bottom:2rem;
  font-size: 3rem;
}

.row{
  display:flex;
  align-items:center;
  justify-content: space-between;
  border-radius: 3rem;
  padding-left: 2rem;
  margin-bottom: 2.5rem;
  background-color: #f5f5f5;
}
 input{
  flex:1;
  border:none;
  outline:none;
  background-color: transparent;
  padding: 1rem;
  font-family: "urbanist";
 }

 button{
  outline: none;
  padding:1.6rem 5rem;
  background-color: #2d3436;
  color:#f5f5f5;
  font-weight: 600;
  border-radius: 4rem;
  cursor:pointer;
 }

 .list-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

 }

ul li{
  list-style:none;
  padding:1rem 8rem 1rem 5rem;
  user-select:none;
  cursor: pointer;
  position: relative;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:1.2rem;
 }

 ul li p{
  font-size: 1.5rem;
 }

 ul li:hover{
  background-color: rgb(234,2,2,0.1);
 }

 ul li .icon-style{
  color:red;
  font-size: 2rem;
 }

 ul li.checked{
  color:#555;
  text-decoration: line-through;
 }

 

